.wishai_btn_product{
    cursor: pointer;
    width: 100%;
    border: 0;
    padding: 10px 0;
    font-size: 18px;
}
#wishaiProductButton button span{
    display: flex;
    justify-content: center;
    align-items: center;
}
#wishaiProductButton button span svg{
    margin-right:10px;
}
