<div id="wishaiPage" data-id="{{ block.id }}">
    wishai
</div>

{% schema %}
  {
    "name": "WishAI Page",
    "target": "section",
    "stylesheet": "wishlistai-page.css",
    "javascript": "wishlistai-page.js",
    "templates": ["page"],
    "settings": [
      
    ]
  }
{% endschema %}
