<div data-id="{{ block.id }}">
  <button class="" style="background-color:{{ block.settings.color_button_bg }}; color:{{ block.settings.color_button_text }}">{{ block.settings.heading }}</button>
</div>

{% schema %}
  {
    "name": "WishlistAI Product",
    "target": "section",
    "stylesheet": "wishlistai-product.css",
    "javascript": "wishlistai-product.js",
    "templates": ["product"],
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Button Text",
        "default": "Add to wishlist"
      },
      {
        "type": "color",
        "id": "color_button_bg",
        "label": "Button Color Background",
        "default": "#52C37A"
      },
      {
        "type": "color",
        "id": "color_button_text",
        "label": "Button Color Text",
        "default": "#FFFFFF"
      }
    ]
  }
{% endschema %}
