<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div id="wishaiPage" class="wishai_outer_row" data-id="{{ block.id }}"></div>
{% schema %}
  {
    "name": "WishAI Page",
    "target": "section",
    "stylesheet": "wishlistai-page.css",
    "javascript": "wishlistai-page.js",
    "templates": ["page"],
    "settings": [
      
    ]
  }
{% endschema %}
